
body, h1, p, input, textarea, button {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  box-sizing: border-box;
}

body {
  background-color: antiquewhite;
  color: #333;
}
nav {
    margin-top: 0;
    background-image: url('backgroundimage.jpg');
    background-size: cover;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
}

nav a {
    text-decoration: none;
    font-weight: bold;
    color: white;
    margin-right: 30px;
    cursor: pointer;
}

.logo img {
    border-radius: 10px;
}

.menu {
    display: none;
}


.contact-container {
  max-width: 600px;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 40px;
  background: #ffffff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

.contact-container h1 {
  margin-bottom: 10px;
  font-size: 32px;
  color: #444;
}

.contact-container p {
  margin-bottom: 25px;
  font-size: 16px;
  color: #666;
}

.contact-form label {
  display: block;
  margin-bottom: 5px;
  font-weight: 600;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 10px 15px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 15px;
}

.contact-form button {
  background-color: #222;
  color: #fff;
  border: none;
  padding: 12px 25px;
  font-size: 16px;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.contact-form button:hover {
  background-color: #444;
}

@media (max-width: 768px) {
  nav .links {
        display: none;
        flex-direction: column;
        width: 50%;
        background-color: rgba(0, 0, 0, 0.9);
        position: absolute;
        top: 64px;
        left: 4.23cm;
        padding: 10px;
        z-index: 999;
    }
    .links a{
        color: white;
        padding: 10px;
        margin: 0;
        display: block;
        align-items: center;
    }
    
    .menu {
        display: block;
        width: 30px;
        cursor: pointer;
    }

  .contact-container {
    padding: 20px;
    width: 270px;
    box-shadow: none;
    border-radius: 10px;
  }

  .contact-container h1 {
    font-size: 26px;
  }

  .contact-container p {
    font-size: 14px;
  }

  .contact-form input,
  .contact-form textarea {
    font-size: 14px;
    padding: 10px;
  }

  .contact-form button {
    width: 100%;
    padding: 12px;
    font-size: 15px;
  }
}
